---
import { Icon } from 'astro-icon';
import Layout from '../layouts/Layout.astro';
import CardPersonal from '../components/CardPersonal.astro';
import CardWork from '../components/CardWork.astro';
import CardAcademic from '../components/CardAcademic.astro';

const personalInfo = [
	{id: '1', detail: 'Programmer', icon: 'briefcase-outline'},
	{id: '2', detail: 'Selangor, Malaysia', icon: 'earth'},
	{id: '3', detail: 'fatihiazmi@gmail.com', icon: 'email'},
	{id: '4', detail: '+60174873211', icon: 'card-account-phone-outline'},
]

const socialInfo = [
	{id: '1', href: 'https://www.linkedin.com/in/fatihiazmi', icon: 'linkedin'},
	{id: '2', href: 'https://www.github.com/fatihiazmi', icon: 'github'}
]

const skills = [
    {id: '1', name: 'HTML', level: 'Advanced', status: 'success'},
    {id: '2', name: 'CSS', level: 'Advanced', status: 'success'},
    {id: '3', name: 'JavaScript', level: 'Intermediate', status: 'warning'},
    {id: '4', name: 'PHP/Laravel', level: 'Intermediate', status: 'warning'},
    {id: '5', name: 'Figma', level: 'Advanced', status: 'success'},
    {id: '6', name: 'Photoshop', level: 'Intermediate', status: 'warning'},
];
const languages = [
    {id: '1', name: 'English', level: 'Advanced', status: 'success'},
    {id: '2', name: 'Malay', level: 'Native', status: 'success'},
    {id: '3', name: 'Arabic', level: 'Intermediate', status: 'warning'},
    {id: '4', name: 'Korean', level: 'Basic', status: 'info'}
];
const expDetails = [
    {id: '1', desc: 'Analyze user needs and design software solutions.'},
    {id: '2', desc: ' Code high-performance programs using different frameworks.'},
    {id: '3', desc: ' Collaborate with other teams in PizzaHut microsite project.'},
    {id: '4', desc: ' Supporting teammates in developing, designing and debugging a content website for Gentari.'},
    {id: '5', desc: '  Developing web automation for generating advertisement previews.'},
    {id: '6', desc: ' Providing technical support in programmatic advertising for clients such as BMW USA, MINI USA, AMEX AU and Spotify'},
    {id: '7', desc: '  Guiding juniors through their onboarding session.'},
];
const academicDetails = [
    {id: '1', desc: 'Degree in Software Engineering'},
    {id: '2', desc: 'GPA: 3.35'},
    {id: '3', desc: 'Wrote a Thesis on: Augmented Reality in History'},
    {id: '4', desc: "Awarded Dean's List in 2020"},
    {id: '5', desc: "Awarded Dean's List in 2021"},
];
---

<Layout title="Interactive Resume">
		<CardPersonal>
			<figure class="h-[18rem] md:h-[25rem] lg:h-[18rem] relative">
				<!-- <img src="/me.jpg" alt="Avatar" /> -->
				<div class="image bg-cover bg-[center_top_-2rem] md:bg-[center_top_-3rem]" style="background-image: url(/me.jpg);"></div>
				<h2 class="ps-4 pb-4 card-title absolute left-0 bottom-0 text-gray-300 text-3xl">Fatihi Azmi</h2>
			</figure>
			<div class="card-body ps-4 pb-4">
				<div class="personal-info">
					<ul>
						{personalInfo.map(info => <div class="flex">
							<Icon pack="mdi" name={info.icon} width="20px" /><h2 class="ms-4 font-semibold" id={info.id}>{info.detail}</h2>
						</div>)}
					</ul>
				</div>
				<hr>
				<div class="social">
					<ul class="flex flex-row items-center justify-around">
						{socialInfo.map(social => <a href={social.href} target="_blank">
							<Icon pack="mdi" name={social.icon} width="20px" />
						</a>)}
					</ul>
				</div>
				<hr>
				<div class="pb-4">
					<h2 class="card-title font-bold">Skills</h2>
					<ul>
						{skills.map(skill => <li class="font-medium" id={skill.id}>{skill.name} - <span class=`badge badge-${skill.status} badge-outline`>{skill.level}</span></li>)}
					</ul>
				</div>
				<div class="pb-4">
					<h2 class="card-title font-bold">Languages</h2>
					<ul>
						{languages.map(language => <li class="font-medium" id={language.id}>{language.name} - <span class=`badge badge-${language.status} badge-outline`>{language.level}</span></li>)}
					</ul>
				</div>
				
			</div>
		</CardPersonal>
		<CardWork>
			<div class="card-body ps-4 pb-4">
				<div class="experience">
					<h1 class="card-title mb-4">Work Experience</h1>
					<h2 class="font-semibold my-4">Front End Developer / IPG MediaBrands Sdn. Bhd.</h2>
					<h4 class="font-semibold text-gray-500 my-4">August 2021 - <span class="badge badge-success badge-outline">PRESENT</span></h4>
				</div>
				<div class="experience-details">
					<ul>
						{expDetails.map(detail => <li class="my-4 font-medium">{detail.desc}</li>) }
					</ul>
				</div>
			</div>
		</CardWork>
		<CardAcademic>
			<div class="card-body ps-4 pb-4 lg:pb-0">
				<div class="education">
					<h1 class="card-title mb-4">Academic History</h1>
					<h2 class="font-semibold">Software Engineering | Universiti Pendidikan Sultan Idris</h2>
					<h4 class="font-semibold text-gray-500 my-4">Sept 2017 - October 2021 <span class="badge badge-success badge-outline">GRADUATED</span></h4>
					<ul>
						{academicDetails.map(detail => <li class="font-medium my-4" id={detail.id}>{detail.desc}</li>)}
					</ul>
				</div>
			</div>
		</CardAcademic>
</Layout>

<style lang="css">
	hr{
        border: 0;
        border-top: 1px solid #6b6b6b;
        margin: 20px 0;
    }

	.image{
		width: 100%;
		height: 100%;
	}

	[astro-icon]{
		color: rgb(83, 183, 130);
		transition: 0.5s;
	}

	[astro-icon]:hover{
		cursor: pointer;
		color: rgb(116, 228, 168);
	}
	.badge{
		animation: 1s glow alternate infinite ease-in-out;
	}
	@keyframes glow {
		0%{
			box-shadow: 0px 0px 0px 0px;
		}
		100%{
			box-shadow: 0px 0px 10px 0px;
		}
	}
</style>

